!!!
%html
  %head
    %title Babelabel
    %link(rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css")
    %link(rel="stylesheet" href="/stylesheets/babelabel/site.css")
    %link(rel="stylesheet" href="/javascripts/babelabel/iso8601.js")
    = include_javascripts :babelabel
  %body
    = yield